.movie-poster {
  width: 100%;
  object-fit: contain;
  max-height: 410px;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}
.movie-poster:hover {
  transform: scale(1.1);
}

.strikeThrough {
  text-decoration: underline;
}

.none {
  text-decoration: none;
}
