.movie-poster {
  width: 100%;
  object-fit: contain;
  max-height: 410px;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;


}
.movie-poster:hover {
  transform: scale(1.1);
}

.strikeThrough {
  text-decoration: underline;
  /* color: red; */
}

.none{
  text-decoration: none;
}
/* 
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;

}
.row {
  margin-left: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row_poster:hover {
  transform: scale(1.08);
}
  */
