.banner {
  color: white;
  height: 450px;
  object-fit: contain;
}

.fade-bottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.banner-title {
  color: white;
}
